body{
    margin: 0;
    background: rgb(31, 36, 72);
}
#text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bold;
}
.Box{
    position: absolute;
    width: 400px;
    background: rgb(255, 255, 255);
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    padding: 25px;
    
}
 #Box1{
    left: 5%;
   /* object-fit: cover;*/
    
}
 #Box2{
    left: 50%;
    transform: translate(-50%,-50%);
    
}
 #Box3{
  
    right: 5%;
}
.headtext{
    left: 10px;
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
    opacity: 100%;
}
.smalltext{
    font-family:monospace ;
    font-size: 18px;
    color: rgb(64, 66, 47);
}
#img1{
    object-fit: cover; object-position: -20% 0;
}
